<h1>Hi Customer</h1>
<p>We offer the following items:</p>
<p>
  <ul>
    <li>Beer 1.50€</li>
    <li>Chips 2.00€</li>
    <li>Chocolate 3.10€</li>
    <li>Soda 2.50€</li>
    <li>Sandwich 4.00€</li>
  </ul>
</p>
<p>We currently offer discounts:</p>
<ul>
  <li>If someone buys 1 chocolate, they can get another one for free.</li>
  <li>For every 3 beers bought, the customer gets a 10% discount on each one of them.</li>
  <li>If someone buys a sandwich and a soda, they can get a chocolate for free.</li>
  <li>During happy hour (17h00-19h00) beer and soda is only half price</li>
</ul>
<p>Please pick one or more of the following items:<p>
<%= form_tag("cash_register", method: "post") do |f| %>
  <% @items.each do |item| %>
    <ul>
      <li>
        <% item.each do |key, value| %>
          <%= label_tag key, key, value %>
          <%= number_field_tag "[items][#{key}][quantity]", 0, size: 2  %>
          <%= hidden_field_tag "[items][#{key}][price]", value[:price]  %>
        <% end %>
      </li>
    </ul>
  <% end %>
  <%= submit_tag('Proceed to checkout') %>
<% end %>
